@model Medicalstore.Models.Sale_master

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Sale Master</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
          Sale Id
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sale_id)
        </dd>
        <dt class = "col-sm-2">
          Sale Date
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sale_date)
        </dd>
        <dt class = "col-sm-2">
            Customer Id
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cust_id)
        </dd>
        <dt class = "col-sm-2">
          Grand Total
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.grand_total)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
